*.tmp

/Binaries/
/Build/
/Saved/Autosaves/
/Saved/Backup/
/Saved/Collections/
/Saved/Logs/
/Saved/Cooked/
/Saved/StagedBuilds/
/Saved/Temp/
/Saved/AutoScreenshot.png
/Saved/Config/WorldState/*
/Saved/Config/Windows/*
!/Saved/Config/Windows/EditorPerProjectUserSettings.ini
/Intermediate/
/Content/StarterContent
*.sdf
*.opensdf
*.suo
/.vs/
/Saved/HardwareSurvey/dxdiag.txt
/Saved/SaveGames/SettingsSaveGameSlot.sav
/DerivedDataCache/*.ddp
